#detailMain .detail-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    border-radius: 5px;
    box-shadow: 0 5px 60px -20px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    background-color: aliceblue;
}

#detailMain .detail-container h1 {
    font-size: 2rem;
    font-weight: 600;
}

#detailMain .detail > * {
    margin-bottom: 1rem;
}

#detailMain .stillcuts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

#detailMain .stillcuts img {
    width: 100%;
}

#detailMain .info1 li {
    display: inline-block;
    margin-left: 10px;
}

#detailMain .info1 li:first-child {
    margin-left: 0;
}

#detailMain .info1 li:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #000000;
    position: relative;
    top: 1px;
    margin-right: 10px;
}

#detailMain .info1 li:first-child:before {
    width: 0;
    margin-right: 0;
}

#detailMain .ticketing-btn {
    display: inline-block;
    color: #ffffff;
    background-color: #ff4f4f;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1.5rem;
}

#detailMain .plot-container,
#detailMain .stillcut-container {
    margin-top: 5rem;
}

#detailMain .stillcuts {
    margin-top: 2rem;
}

#detailMain .plot {
    margin-top: 2rem;
    line-height: 250%;
}

#detailMain h2 {
    font-size: 1.5rem;
    font-weight: 600;
}