.movie-container {
    width:1200px;
    height:auto;
    background-color: antiquewhite;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.movie {
    width: 240px;
    background-color: aqua;
}

.movie a {
    display: inline-block;
    width: 100%;
}

.movie img {
    width: 100%;
    height: 340px;
}

.movie-container .title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}