#movieMain .movie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

#movieMain .movie-container img {
    margin-bottom: 0.25rem;
    border-radius: 5px;
    width: 100%;
}

#movieMain .movie {
    width: 250px;
}

#movieMain .d-day {
    color: #ff3535;
}

#movieMain .movie-title {
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#movieMain .release-date {
    margin-top: 0.25rem;
}

#movieMain .sort-container {
    display: flex;
    margin-bottom: 2rem;
}

#movieMain .sort-select {
    border: 1px solid #666;
    padding: 0.5rem;
    border-radius: 5px;
}

#movieMain .main-top-container {
    display: flex;
    margin-bottom: 2rem;
}

#movieMain .main-top-container button {
    padding: 0 0.75rem;
    font-weight: 600;
}

#movieMain .main-top-container button.selected {
    color: #ff3434;
}

#movieMain .main-top-container button:last-child {
    border-left: 1px solid black;
}