#movieMain .movie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#movieMain .movie-container img {
    border-radius: 5px;
    width: 100%;
}

#movieMain .movie-container .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#movieMain .sort-container {
    display: flex;
    margin-bottom: 2rem;
}

#movieMain .sort-select {
    border: 1px solid #666;
    padding: 0.5rem;
    border-radius: 5px;
}

#movieMain .main-top-container {
    display: flex;
    margin-bottom: 2rem;
}

#movieMain .main-top-container h1 {
    
}

#movieMain .main-top-container button {
    padding: 0 0.75rem;
    font-weight: 600;
}

#movieMain .main-top-container button.selected {
    color: #ff3434;
}

#movieMain .main-top-container button:last-child {
    border-left: 1px solid black;
}