.pagination {
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 1rem;
}

.pagination .info {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.pagination .info > span {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.pagination .page {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.pagination .page:hover {
    color: #fff;
    background-color: #333;
}

.pagination .page.active {
    color: #fff;
    background-color: #333 !important;
}