#movie {
    display:inline-block;
    width:200px;
    height:400px;
    background-color: cadetblue;
    margin-right:10px;
}
#movie > #title {
    width:200px;
    height:50px;
    background-color: chartreuse;
}
#movie img {
    width:200px;
    height:350px;
}