.ticketing-container {
    margin-top: 5rem;
    background-color: aliceblue;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.section {
    border: 1px solid black;
    padding: 1rem;
}

.theater-section {
    display: flex;
    flex-direction: row;
}

.movie-section {
    width: 300px;
}

.region-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.region-container button {
    padding: 1rem 0.5rem;
    width: 100%;
    text-align: right;
}

.region-container button.selected {
    background-color: rgb(66, 66, 66);
    color: white;
}

.name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-container button {
    padding: 1rem 0.5rem;
    width: 100%;
    text-align: left;
}

.ticketing-container ul li  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.ticketing-container ul li.selected {
    background-color: rgb(83, 83, 83);

}

.ticketing-container ul li.selected .title {
    color: white;
}

.ticketing-container ul li .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-time-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    width: 500px;
}

.screen-time-container {
    width: 100%;
    border: 1px solid black;
}

.date {
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;

    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rating-icon-all, .rating-icon-12, .rating-icon-15, .rating-icon-19 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-width: 30px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.rating-icon-all {
    background-color: rgb(104, 248, 99);
}

.rating-icon-12 {
    background-color: rgb(246, 238, 121);
}

.rating-icon-15 {
    background-color: rgb(255, 204, 85);
}

.rating-icon-19 {
    background-color: rgb(255, 89, 89);
}

.blue {
    color: blue;
}

.red {
    color: red;
}