#ticketingMain .ticketing-option-container {
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border: 1px solid #666;
    background-color: #f2f0e5;
}

#ticketingMain .section {
    display: flex;
    flex-direction: column;
}

#ticketingMain .section:not(:last-child) {
    border-right: 1px solid #666;
}

#ticketingMain .section-title {
    padding: 1rem 0;
    text-align: center;
    color: white;
    background-color: black;
}

#ticketingMain .movie-section {
    width: 300px;
}

#ticketingMain .movie-list {
    margin-right: 12px;
    overflow: auto;
}

#ticketingMain .movie-list::-webkit-scrollbar {
    width: 6px;
}

#ticketingMain .movie-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#ticketingMain .movie-list li {
    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
    padding: 0.5rem 1rem;
}

#ticketingMain .movie-list li.selected {
    background-color: rgb(83, 83, 83);
}

#ticketingMain .movie-list li.selected .title {
    color: white;
}

#ticketingMain .movie-list li .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ticketingMain .region-container {
    width: 100%;
    background-color: #e1e1e1;
}

#ticketingMain .region-container button {
    padding: 1rem 0.5rem;
    width: 100%;
    text-align: right;
}

#ticketingMain .region-container button.selected {
    background-color: rgb(83, 83, 83);
    color: white;
}

#ticketingMain .theater-container {
    display: flex;
    flex-direction: row;
}

#ticketingMain .theater-name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}

#ticketingMain .theater-name-container::-webkit-scrollbar {
    width: 6px;
}

#ticketingMain .theater-name-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}


#ticketingMain .theater-name-container button {
    padding: 1rem 0.5rem;
    width: 100%;
    text-align: left;
}

#ticketingMain .theater-name-container button.selected {
    background-color: rgb(83, 83, 83);
    color: white;
}

#ticketingMain .screen-info-section {
    display: flex;
    flex-direction: column;
    width: 550px;
}

#ticketingMain .screen-info-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;

    padding: 1rem;
}

#ticketingMain .screen-info-container > div {
    margin-bottom: 1rem;
}

#ticketingMain .screen-info-container::-webkit-scrollbar {
    width: 6px;
}

#ticketingMain .screen-info-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#ticketingMain .screen-info-warning {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ticketingMain .screen-hall-name {
    font-size: 1.5rem;
    font-weight: 600;
}

#ticketingMain .screen-time-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#ticketingMain .screen-time-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem 0;
}

#ticketingMain .screen-time-btn.selected {
    background-color: rgb(83, 83, 83);
    color: white;
}

#ticketingMain .screen-time-btn.full-reservation {
    opacity: 0.5;
    cursor: default;
}

#ticketingMain .day-btn-text-container {
    position: relative;
}

#ticketingMain .day-btn-text-container > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#ticketingMain .day-btn-text-container > div {
    padding-top: 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#ticketingMain .day-of-week {
    padding-top: 15px;
}

#ticketingMain .day-btn {
    height: 100px;
}

#ticketingMain .day-container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticketingMain .day-btn.selected .day-container {
    color: white;
    background-color: #666;
    border-radius: 50%;
}

#ticketingMain .rating-icon-all,
#ticketingMain .rating-icon-12,
#ticketingMain .rating-icon-15,
#ticketingMain .rating-icon-19 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-width: 30px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#ticketingMain .rating-icon-all {
    background-color: rgb(104, 248, 99);
}

#ticketingMain .rating-icon-12 {
    background-color: rgb(246, 238, 121);
}

#ticketingMain .rating-icon-15 {
    background-color: rgb(255, 204, 85);
}

#ticketingMain .rating-icon-19 {
    background-color: rgb(255, 89, 89);
}

#ticketingMain .blue {
    color: blue;
}

#ticketingMain .red {
    color: red;
}

#ticketingMain .ticketing-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;

    height: 350px;
    border: 1px solid #666;
    border-top: none;
    background-color: rgb(52, 52, 52);
}

#ticketingMain .ticketing-info-container .info {
    padding: 1rem;
}

#ticketingMain .ticketing-info-container .poster-info {
    text-align: center;
    width: 250px;
} 

#ticketingMain .ticketing-info-container .seat-info {
    width: 200px;
}

#ticketingMain .ticketing-info-container .line {
    height: 200px;
    border-left: 0.0625rem solid #666;
}

#ticketingMain .ticketing-info-container button {
    width: 100px;
    height: 100px;
    
    border-radius: 5px;
    background-color: rgb(255, 94, 94);
    margin: 0 1rem;
}

#ticketingMain .select-seat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #666;

    height: 700px;
}

#ticketingMain .people {
    position: relative;
    color: white;
    background-color: rgb(52, 52, 52);
    border-bottom: 1px solid #666;
    height: 30%;
}

#ticketingMain .people ul {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ticketingMain .people-type {
    display: inline-block;
    width: 80px;
    font-size: 1.3rem;
    font-weight: 600;
}

#ticketingMain .people-count {
    width: 30px;
    height: 30px;
    margin: 0.025rem;
    border: 1px solid #666;
}

#ticketingMain .people-count.selected {
    background-color: rgb(101, 101, 101);
    color: white;
}

#ticketingMain .seat-map {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: row;
    background-color: #f2f0e5;
}

#ticketingMain .filter {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.4;
}

#ticketingMain .seat-left {
    position: relative;
    width: 80%;

}

#ticketingMain .seat-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    position: relative;
    width: 20%;
}

#ticketingMain .seat-right div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#ticketingMain .seat-box {
    position: absolute;

    top: 50%;
    left: 48.6%;
    transform: translate(-50%, -50%);
}

#ticketingMain .screen {
    position: relative;
    top: 60px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    background-color: rgb(204, 204, 204);
}

#ticketingMain .seat-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.25rem;

    margin-bottom: 0.25rem;
}

#ticketingMain .column {
    text-align: center;

    width: 15px;
    height: 15px;
}

#ticketingMain .seat {
    position: relative;
    font-size: 0.75rem;
    width: 15px;
    height: 15px;
    background-color: #666;
    color: white;
}

#ticketingMain .seat.empty {
    background-color: inherit;
}

#ticketingMain .seat.selected {
    background-color: #f81e1e;
}


#ticketingMain .seat.column {
    background-color: unset;
    color: black;
}

#ticketingMain .seat.reserved {
    background-color: #bbb;
    pointer-events: none;
}

#ticketingMain .seat-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ticketingMain .select-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f81e1e;
}

#ticketingMain .reserved-seat-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #bbb;
}

#ticketingMain .payment-container {
    display: flex;
    flex-direction: column;
    background-color: #f2f0e5;
    border: 1px solid #666;

    height: 400px;
}

#ticketingMain .payment-container h1 {
    font-size: 1.75rem;
    color: white;
    padding: 1rem 0;
    text-align: center;
    background-color: rgb(52, 52, 52);
}

#ticketingMain .payment-left,
#ticketingMain .payment-right {
    height: 100%;
    padding: 1.5rem;
}

#ticketingMain .payment-left {
    width: 70%;
}

#ticketingMain .payment-left h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

#ticketingMain .payment-left img {
    width: 50px;
}

#ticketingMain .payment-right {
    width: 30%;
}

#ticketingMain .cost-container {
    background-color: #eaeaea;
    box-shadow: 0px 2px 3px #CCC;
    border-radius: 5px;
}

#ticketingMain .cost-container {
}

#ticketingMain .cost-container div {
    padding: 1rem;
    display: flex;
}

#ticketingMain .cost-container div:not(:last-child) {
    border-bottom: 1px solid #666;
}

#ticketingMain .payment-method-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 1.5rem;
}

#ticketingMain .payment-method-box button {
    width: 120px;
    height: 55px;
    border: 1px solid #666;
    border-radius: 10px;
    margin-right: 1rem;
}

#ticketingMain .payment-method-box button.selected {
    background-color: rgb(255, 211, 211);
    border: 1px solid #ff9292;
}

#ticketingMain .slider-container {
    border-bottom: 1px solid #666;
}

#ticketingMain .slick-slider {
    width: 500px;
    margin: 0 auto;
    margin-top: 0.5rem;
    border-bottom: 1px solid #ffffff;
}

#ticketingMain .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 4px;
    font-size: 24px;
    color: #000;
    border: none;
    outline: 0;
    z-index: 1;
    cursor: pointer;
}

#ticketingMain .slick-prev {
    left: -20px;
}

#ticketingMain .slick-next {
    right: -20px;
}

#ticketingMain .slick-prev:hover,
#ticketingMain .slick-next:hover {
    color: #b0b0b0;
}

#ticketingMain .slick-prev:before,
#ticketingMain .slick-next:before {
    display: none;
}

#ticketingMain .slick-prev.slick-disabled,
#ticketingMain .slick-next.slick-disabled {
    color: #b0b0b0;
    pointer-events: none;
}

#ticketingMain .theater-info div {
    margin-bottom: 0.5rem;
}

#ticketingMain .theater-info .text {
    display: inline-block;
    width: 50px;
}

#ticketingMain .payment-event-container {
    margin-top: 1.75rem;
}

#ticketingMain .payment-event-container h3 {
    display: inline-block;
    font-weight: 600;
    font-size: 1.1rem;
}

#ticketingMain .payment-event-container .benefit {
    margin-right: 0.35rem;
    color: #ff0000;
    background-color: #ffbebe;
    padding: 0.25rem 0.25rem;
    text-align: center;
    border-radius: 5px;
}

#ticketingMain .payment-event-container .event-text {
    line-height: 120%;
    margin-top: 0.75rem;
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 1.25rem;
}