@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Pretendard-Regular' !important;
  position: relative;
}

.flex-1 {
  flex: 1;
}

.content-container {
  width: 1100px;
  margin: 0 auto;
}

.common-input {
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  width: 100%;
  border: 1px solid #c9c9c9;
}

.main-title {
  font-size: 2rem;
  font-weight: 600;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
}