#loginMain {
    height: 85vh;
}

#loginForm {
    width: 350px;
    margin: 5rem auto 0 auto;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 2rem 2rem;
}

#loginForm div {
    padding: 0.25rem 0;
}

#loginForm .warning {
    border-radius: 5px;
    background-color: #ff6c6c;
    color: white;
    padding: 0.5rem 1rem;
    display: none;
}

#loginForm .warning.visible {
    display: block;
}

#loginForm .login-btn {
    background-color: #ff6c6c;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem 0;
}

#loginForm .login-btn:hover {
    background-color: #ff5050;
}