#myPageMain .my-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#myPageMain .my-page-left,
#myPageMain .my-page-right {
    padding: 1.5rem;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
}

#myPageMain .my-page-left {
    background-color: #f7f7f7;
    width: 20%;
    height: 100%;
}

#myPageMain .my-page-right {
    width: 75%;
}

#myPageMain .my-page-right h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

#myPageMain .menu-container {
    margin-bottom: 1.25rem;
}

#myPageMain .menu-container ul {
    margin-top: 1rem;
}

#myPageMain .menu-container ul li {
    cursor: pointer;
    margin-top: 0.5rem;
}

#myPageMain .menu-container ul li.selected {
    color: #ff2323;
}

#myPageMain .menu-title {
    font-size: 1.5rem;
    font-weight: 600;
}

#myPageMain .menu-container p {
    cursor: pointer;
}

#myPageMain .menu-container p:hover {
    color: blue;
}

#myPageMain .menu-container p.selected {
    color: blue;
}

#myPageMain .user-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#myPageMain .user-info-update-table {
    width: 100%;
    margin-top: 2rem;

    border-top: 2px solid black;
}

#myPageMain .user-info-update-table td {
    border-left: 1px solid rgb(112, 112, 112);
    padding: 0.5rem 1rem;
}

#myPageMain .user-info-update-table td > * {
    margin: 0.5rem 0;
}

#myPageMain .user-info-update-table td label {
    margin-bottom: 0.5rem;
}

#myPageMain .user-info-update-table th {
    padding-left: 1rem;
    text-align: left;
    vertical-align: middle;
}

#myPageMain .user-info-update-table tr {
    border-bottom: 1px solid rgb(129, 129, 129);
}

#myPageMain .user-info-update-table label {
    display: inline-block;
    width: 120px;
}

#myPageMain .my-page-btn {
    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgb(233, 233, 233);
}

#myPageMain .update-id-btn {
    margin-left: 2rem;
}

#myPageMain .update-password-btn {
    float: right;
}

#myPageMain .certification-btn {
    margin-left: 2rem;
}

#myPageMain .id-input {
    width: 70%;
}

#myPageMain .name {
    margin-right: 1.5rem;
}

#myPageMain .update-btn:hover {
    background-color: #cfcfcf;
}

#myPageMain .secession-text-container {
    line-height: 150%;
    margin: 1rem 0;
}

#myPageMain .secession-btn {
    float: right;
}

#myPageMain .ticketing-table {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#myPageMain .ticketing-table tbody td {
    text-align: center;
}