#myPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 500px;
    background-color: antiquewhite;
}

.my-page-left {
    padding: 1.5rem;

    width: 20%;
    border: 1px solid black;
}

.my-page-right {
    width: 60%;
    border: 1px solid black;
}

.menu-container {
    margin-bottom: 1.25rem;
}

.menu-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.menu p {
    cursor: pointer;
}

.menu p.selected {
    color: blue;
}