#myPageMain .my-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#myPageMain .my-page-left,
#myPageMain .my-page-right {
    padding: 1.5rem;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
}

#myPageMain .my-page-left {
    width: 20%;
}

#myPageMain .my-page-right {
    width: 75%;
}

#myPageMain .menu-container {
    margin-bottom: 1.25rem;
}

#myPageMain .menu-container ul {
    margin-top: 1rem;
}

#myPageMain .menu-container ul li {
    cursor: pointer;
    margin-top: 0.5rem;
}

#myPageMain .menu-title {
    font-size: 1.5rem;
    font-weight: 600;
}

#myPageMain .menu-container p {
    cursor: pointer;
}

#myPageMain .menu-container p:hover {
    color: blue;
}

#myPageMain .menu-container p.selected {
    color: blue;
}

#myPageMain .user-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#myPageMain .user-info-update-table {
    width: 80%;
    margin: 2rem auto;

    border-top: 2px solid black;
}

#myPageMain .user-info-update-table td {
    padding: 1rem;
}

#myPageMain .user-info-update-table td.row-title {
    border-right: 1px solid rgb(112, 112, 112);
}

#myPageMain .user-info-update-table tr {
    border-bottom: 1px solid rgb(129, 129, 129);
}

#myPageMain .user-info-update-table label {
    display: inline-block;
    width: 120px;
}

#myPageMain .update-btn {
    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgb(233, 233, 233);
}

#myPageMain .update-btn:hover {
    background-color: #cfcfcf;
}